<div class="navBar bg-gradient-to-r from-[#D3E8EF] from-20% via-[#f1f1b0] via-50% to-[#D3E8EF] to-80% h-[100px] flex justify-evenly gap-[30px] place-items-center pr-[30px] pl-[30px]">
    <div >
        <a href="" class="logo"><h1>AmaJohn</h1></a>
    </div>
    <div class="search-bar flex-grow-1">
        <app-search-bar></app-search-bar>
    </div>
    <div>
        <ng-container *ngIf="loggedIn; else signIn">
          <a href=""><h3>My Profile</h3></a>
        </ng-container>
        <ng-template #signIn>
          <a href="/login"><h3>Sign In</h3></a>
        </ng-template>
      </div>
    <div>
        <h3>My Orders</h3>
    </div>
    <div>
        <h2>Cart</h2>
    </div>
    <div>
        <ng-container *ngIf="loggedIn">
            <a (click)="logout()" href=""><h3>Signout</h3></a>
        </ng-container>
    </div>
</div>
