<div class="navBar bg-gradient-to-r from-[#D3E8EF] from-20% via-[#f1f1b0] via-50% to-[#D3E8EF] to-80% h-[100px] flex justify-evenly gap-[30px] place-items-center pr-[30px] pl-[30px]">
    <div >
        <a href="" class="logo"><h1>AmaJohn</h1></a>
    </div>
    <div class="search-bar flex-grow-1">
        <app-search-bar></app-search-bar>
    </div>
    <div>
        <div *ngIf = "isAuthenticated"><a routerLink = "/profile">My Profile</a></div>
        <div *ngIf = "!isAuthenticated"><a routerLink = "/loggedIn">SignIn</a></div>
      </div>
    <div>
        <div *ngIf = "isAuthenticated"><a routerLink = "/profile">My Orders</a></div>
    </div>
    <div>
        <div *ngIf = "isAuthenticated"><a routerLink = "/profile">My Cart</a></div>
    </div>
    <div>
        <div *ngIf = "isAuthenticated"><a routerLink = "" (click)="logout()">SignOut</a></div>
    </div>
</div>
