.dropdown {
    position: absolute;
    top: 37px;
    width: 100%;
    z-index: 10;
  }

  .dropdown-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    gap: 10px;
  }

  .search-button {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  font-size: 16px; 
  color: #aaa; 
}