<div class="product">
    <div class="filter flex content-evenly pt-5 ">
        <h1 class="text-[50px]">Result</h1>
    </div>
    <div class="filter-result">
        <p>{{filteredProducts.length}} results for <span class="text-[#5ac4e7]">"{{searchQuery}}"</span></p>
    </div>
    <div class="result">
        <div *ngFor="let item of filteredProducts" class="product-container flex gap-3 mb-1" >
            <div class="product-img" (click)="selectItem(item.id)">
                <img src="{{item.image}}" alt="" class="image-size hover:cursor-pointer">
            </div>
            <div class="product-desc">
                <span class="title text-[25px] hover:text-[#5ac4e7] hover:cursor-pointer" (click)="selectItem(item.id)">{{item.productName}}</span>
                <!-- TO DO -->
                <div *ngIf="item.review"></div>
                <div class="price-sale flex gap-3">
                    <span>${{ formatPrice(item.price.amount) }}</span>
                    <span class="line-through text-gray-500" *ngIf="item.price.saving.amount != 0"> Was: ${{ formatPrice(item.price.amount + item.price.saving.amount) }}</span>
                </div>
                

            </div>
        </div>
    </div>
</div>

