<div class="relative  divide-y divide-black left-10">
  <div class="relative flex flex-col  md:flex-row left-align  pb-2">
    <p class="text-nowrap font-newsreader font-light ml-1 text-7xl divide-black w-6/8 pr-4">Shopping Cart</p>
    <div class="w-64">
      <p class="md:translate-y-10 relative font-inter">x items
      </p>
    </div>

  </div>
  <div class="pt-2 ">
    <div class="relative grid grid-cols-1 gap-4 outline rounded-lg w-1/2">
The quick brown fox ...
    </div >
    <p class="font-sans "></p>
    <p class="font-serif ">The quick brown fox ...</p>
    <p class="font-mono ">The quick brown fox ...</p>

  </div>

</div>
