<div class="relative left-10 translate-x-10 translate-y-10 divide-y divide-gray-400">
  <div class="left-align relative flex flex-col pb-2 md:flex-row">
    <p class="w-6/8 relative ml-1 divide-black text-nowrap pr-4 font-['Newsreader'] text-5xl">Shopping Cart</p>
    <div class="w-64">
      <p class="font-inter font-inter relative translate-x-2 font-light md:translate-y-5">x items</p>
    </div>
  </div>
  <div class="flex pt-2">
    <div class="grid-col-1 w-128 grid gap-4">
      <div class="relative left-0 top-10 flex h-40 w-1/2 w-64 grid-cols-1 flex-row gap-4 rounded-2xl bg-cardbackground outline outline-gray-200">
        <div class="image h-full w-28">an image</div>
        <div class="grid grid-cols-2 grid-rows-3">
          <div class="font-iter font-lg font-semibold leading-tight">Name</div>
          <div class="font-iter h-7 w-14 text-right text-sm font-semibold not-italic leading-5 text-black">Price</div>
          <div class="font-inter left-11 top-4 h-2 w-6 font-semibold not-italic leading-5 text-tertiary">Price per pound</div>
          <div></div>
          <input class="box-border w-32 h-5 l-11 b-1 bg-white border border-solid border-gray-800 border-2 rounded-sm outline-2">amount to buy</input>
          <div class="w-4 h-3 r-2 bottom-2 bg-tertiary rounded-3xl">save for later</div>
        </div>
      </div>
      <div class="relative grid w-64 grid-cols-1 gap-4 rounded-lg outline">
        <div class="image w-28"></div>
        <div class="grid grid-cols-2 grid-rows-3">
          <div>Name</div>
          <div>Price</div>
          <div>Price per pound</div>
          <div>empty</div>
          <div>amount to buy</div>
          <div>save for later</div>
        </div>
      </div>
    </div>
    <!-- The quick brown fox ...
    <p class="font-sans "></p>
    <p class="font-serif ">The quick brown fox ...</p>
    <p class="font-mono ">The quick brown fox ...</p> -->
    <div class="relative grid w-64 grid-cols-1 gap-4 rounded-lg pl-20 outline">pricing</div>
  </div>
</div>
