
      <div class="cart-page">
        <div class="flex flex-col pb-1 md:flex-row pl-[80px] pt-[50px]">
          <p class="w-6/8 relative ml-1 text-nowrap pr-4 font-['Newsreader'] text-5xl shopping-cart-title">
            Shopping Cart
          </p>
          <div class="w-64">
            <p class="font-inter font-light relative translate-x-2 md:translate-y-5">{{cartlength}} items</p>
          </div>
        </div>
        <hr class="shopping-cart-separator"> 
        <div class="cart grid row pb-[50px]">
          <div class="cart-item">
            <div class="item border" *ngFor="let product of productsListCart">
              <img src="{{product.image[0]}}" alt="{{product.productName}}" (click)="selectItem(product.id)">
              <div class="details flex flex-col">
                <div class="description">
                  <p class="cursor-pointer font-normal text-[23px]" (click)="selectItem(product.id)" >{{product.productName}}</p>
                </div>
                <div class="function flex gap-5 pb-4">
                    <div class="update-cart flex flex-row">
                      <button class="bt-left" (click)="updateCart(product.id, -1)">
                        <span class="iconLeft">-</span>
                      </button>
                      <p>{{productMap[product.id].quantity}}</p>
                      <button class="bt-right" (click)="updateCart(product.id, 1)">
                        <span class="iconRight">+</span>
                      </button>
                    </div>
                    <div class="save-for-later flex flex-row">
                      <button class="sfl-bt" (click)="saveForLater(product.id, productMap[product.id].quantity)">
                        <span class="sfl-tx">Save For Later</span>
                      </button>
                    </div>
                    <div class="delete flex flex-row">
                      <button class="sfl-bt" (click)="deleteItem(product.id)">
                        <span class="sfl-tx">Delete</span>
                      </button>
                    </div>
                </div>
              </div>
              <div class="price">
                <div class="price-sale flex text-right">
                  <span class="text-[25px]">$<span class="text-[25px] font-bold">{{ formatPrice(product.price.amount) }}</span></span>
                </div>
                <div class="price-pre-sale flex gap-3 text-right">
                  <span class="text-red-500" *ngIf="product.price.saving.amount != 0">-{{product.price.saving.percentage}}%</span>
                  <span class="line-through text-gray-500" *ngIf="product.price.saving.amount != 0"> ${{ formatPrice(product.price.amount + product.price.saving.amount) }}</span>
                </div>
              </div>
            </div>
            <!-- Product that are in cart but not available will be here -->
            <div class="u-item border" *ngFor="let product of productNotAvailableCart">
              <img class="unavailable" src="{{product.image[0]}}" alt="{{product.productName}}" (click)="selectItem(product.id)">
              <div class="details flex flex-col">
                <div class="description unavailable">
                  <p class="cursor-pointer font-normal text-[23px]" (click)="selectItem(product.id)" >{{product.productName}}</p>
                </div>
                <div class="function flex gap-5 pb-4">
                  <div class="flex flex-row">
                    <button class="unavailable-bt" >
                      <span class="text-white font-bold">Unavailable</span>
                    </button>
                  </div>
                  <div class="save-for-later flex flex-row">
                    <button class="sfl-bt" (click)="saveForLater(product.id, productMap[product.id].quantity)">
                      <span class="sfl-tx">Save For Later</span>
                    </button>
                  </div>
              </div>
              </div>
              <div class="price unavailable">
                <div class="price-sale flex text-right">
                  <span class="text-[25px]">$<span class="text-[25px] font-bold">{{ formatPrice(product.price.amount) }}</span></span>
                </div>
                <div class="price-pre-sale flex gap-3 text-right">
                  <span class="text-red-500" *ngIf="product.price.saving.amount != 0">-{{product.price.saving.percentage}}%</span>
                  <span class="line-through text-gray-500" *ngIf="product.price.saving.amount != 0"> ${{ formatPrice(product.price.amount + product.price.saving.amount) }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="cart-checkout col">
            <div class="checkout-title">
              <h3>Order Summary</h3>
            </div>
            <div class="sub-total">
              <span>Subtotal</span>
              <span>{{ subtotal | currency:'USD':'symbol':'1.2-2' }}</span>
            </div>
            <div class="shipping">
              <span>Shipping</span>
              <span>$<span>{{shipping}}</span></span>
            </div>
            <div class="tax">
              <span>Tax</span>
              <span>{{ tax | currency:'USD':'symbol':'1.2-2' }}</span>
            </div>
            <div class="total">
              <span>Total</span>
              <span>{{ total | currency:'USD':'symbol':'1.2-2' }}</span>
            </div>
            <div class="checkout">
              <button class="checkout-bt">
                <Span>
                  Continue to payment
                </Span>
                <span>
                  <i class="fa fa-arrow-right"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="save-for-later-section pb-[50px]">
          <div class="flex flex-col pb-1 md:flex-row pl-[80px] pt-[50px]">
            <p class="w-6/8 relative ml-1 text-nowrap pr-4 font-['Newsreader'] text-5xl shopping-cart-title">
              Save For Later
            </p>
            <div class="w-64">
              <p class="font-inter font-light relative translate-x-2 md:translate-y-5">{{sfllength}} items</p>
            </div>
          </div>
          <hr class="shopping-cart-separator">
          <div class="save-for-later grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-[80px]">
            <div class="sfl-item flex flex-col items-center border rounded-md shadow-md bg-white p-4" *ngFor="let product of productsListSFL">
              <img
                [src]="product.image[0]"
                [alt]="product.productName"
                class="w-[250px] h-[250px] object-cover rounded-md"
                (click)="selectItem(product.id)"
              />
              <div class="details2 w-full mt-2">
                <p class="truncate text-center font-medium text-lg" title="{{ product.productName }}">
                  {{ product.productName }}
                </p>
              </div>
              <button
                class="move-to-cart-btn mt-4 bg-skyblue text-white px-4 py-2 rounded-md hover:bg-blue-600 transition"
                (click)="moveToCart(product.id,sflMap[product.id].quantity )"
              >
                Move to Cart
              </button>
              <button class="move-to-cart-btn" (click)="deleteFromSaveForLater(product.id)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>