.cart {
    display: grid;
    grid-template-columns: .5fr 5fr 2fr .5fr;  /* Adjust column proportions */
    gap: 10px;
}

.cart-item {
    grid-column: 2 / 3; /* Place in the second column (70%) */
    min-height: 500px;
}

.cart-checkout {
    grid-column: 3 / 4; /* Place in the third column (20%) */
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Horizontally centers content */
    background-color: #ccc; /* Optional: Just for visual clarity */
}

.shopping-cart-separator {
    width: 90%;
    margin-left: 80px;
    border: 0;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.cart-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.item {
    display: flex;
    gap: 15px;
    border-radius: 15px;
    width: 100%;  /* Ensure the item takes the full available width */
    background-color:aliceblue;
}

.cart-item img {
    width: 200px;  /* Fix the image width to 250px */
    height: 200px;  /* Ensure the image height is always 250px */
    min-width: 200px; 
    object-fit: contain; /* Ensures the image fits within its container without distorting */
    background-color: white; 
    cursor: pointer;
    border: 15px solid transparent;
    border-radius: 15px 0 0 15px;
}

.details {
    flex-grow: 1;  /* Ensures the details section takes the remaining space */
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures content within details is spaced appropriately */
}


.price {
    width: 200px;  
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding-right: 20px;
    padding-top: 30px;
  }
  

