.banner {
    justify-content: center;
    justify-items: center;
}
.cropped-banner {
    margin: auto;
    width: 80vw; 
    height: 400px; 
    object-fit: cover;
    object-position: 50% 45%; 
}

.products {
    width: 80vw; 
    margin: auto;
    padding-top: 1rem;
    
}

.item-container {
    flex: 0 0 calc((100% - 4rem) / 5);
    min-width: 285px;
    text-align: left;
    padding: 1rem;
    background-color: rgba(241, 241, 241, 0.651);
    
}

.product-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

