
<div class="navFooter">
    <a class="no-underline text-[black]" href="">
        <div class="navBackToTop w-[100%] h-[50px] bg-[#9edbee] text-center place-content-center" >
            <span class="">Back To Top</span>
        </div>
    </a>
    <div class="middleFooter bg-[#c2e6f1] h-[100px] flex justify-evenly gap-[30px] place-items-center">
        <a href="">About Us</a>
    </div>
    <div class="endFooter bg-[#c2e6f1] text-center pb-5">
        <p class="m-0">© 2024, Amajohn.com, Inc</p>
    </div>
</div>
