.gallery-container {
    display: flex;
}

.carousel {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.carousel img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    object-fit: contain;
}
.carousel img.selected {
    border: 2px solid #007BFF;
}

.main-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.review-stars {
    display: flex;
}

.ng-fa-icon {
    color: #ccc; /* Default color for unfilled stars */
    margin-right: 5px;
}

.ng-fa-icon.filled {
    color: #FFD700; /* Color for filled stars (gold) */
}

.price {
    font: 50px;
}

.sfl-tx {
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.sfl-bt {
    background-color:skyblue;
    box-sizing: border-box;
    border: 3px solid skyblue;
    border-radius: 100px;
    padding: 0 10px 0 10px;
}

.sfl-bt:hover {
    background-color:white;
}

.sfl-tx:hover {
    color: skyblue;
}

.quantity-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    width: 8%;
    min-width: 50px;
}

.quantity-label {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.quantity-dropdown {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.quantity-dropdown:focus {
    border-color: skyblue;
    box-shadow: 0 0 8px rgba(0, 162, 255, 0.3);
}

.quantity-dropdown option {
    padding: 10px;
}

