<div class="detail-page">
    <div *ngIf="product" class="container">
        <div class="go-back-container flex items-center pt-[20px] pb-[10px]">
            <button class="go-back-btn flex items-center text-blue-500 font-medium hover:text-blue-700" (click)="goBack()">
              <i class="fa fa-arrow-left"></i> Go Back
            </button>
          </div>
        <div class="row">
            <div class="col-5">
                <div class="gallery-container">
                    <div class="carousel">
                        <img *ngFor="let img of product.image" 
                            [src]="img" 
                            alt="Product Image" 
                            (mouseover)="selectImage(img)"
                            [class.selected]="img === selectedImage"/>
                    </div>
                    <div>
                        <img [src]="selectedImage" class="main-image" alt="Main Product Image">
                    </div>
                </div>
            </div>
            <div class="col border-l-2">
                <div class="title">
                    <h2>{{product.productName}}</h2>
                </div>
                <div>
                    <p>SELLER NAME HERE</p>
                    <p>{{product.seller}}</p>
                </div>
                <div class="review-stars border-b-2">
                    <fa-icon [icon]="faStar" *ngFor="let star of stars" [class.filled]="star <= rating"></fa-icon>
                </div>
                <div class="price-sale flex gap-3">
                    <span>$<span class="text-[30px] font-bold">{{ formatPrice(product.price.amount) }}</span></span>
                    <span class="text-[30px] text-red-500" *ngIf="product.price.saving.amount != 0">-{{product.price.saving.percentage}}%</span>
                </div>
                <div class="price-pre-sale">
                    <span class="line-through text-gray-500" *ngIf="product.price.saving.amount != 0"> ${{ formatPrice(product.price.amount + product.price.saving.amount) }}</span>
                </div>
                <div class="buy border-b-2">
                  <!-- Show everything normally if product's quantity is not 0 -->
                    <div *ngIf="product.quantity != 0">
                      <div *ngIf="product.quantity <= 15">
                        <h3 class="mb-0 text-red-500">Only {{product.quantity}} left!</h3>
                      </div>
                      <div class="delete flex flex-row pt-[10px] pb-[10px]">
                        <button class="sfl-bt" (click)="addToCart(selectedQuantity)">
                          <span class="sfl-tx">Add To Cart</span>
                        </button>
                      </div>
                      <div class="quantity-selector mt-[10px] pb-[15px]">
                          <label for="quantity" class="quantity-label">Quantity:</label>
                          <select name="quantity" id="quantity" [(ngModel)]="selectedQuantity" class="quantity-dropdown">
                            <option *ngFor="let qty of quantities" [value]="qty">{{qty}}</option>
                          </select>
                      </div>
                    </div>
                    <!-- Disable adding to cart option if theres no available product -->
                    <div *ngIf="product.quantity == 0">
                      <div class="delete flex flex-row pt-[10px] pb-[10px] disabled">
                        <button class="sfl-bt">
                          <span class="sfl-tx">Unavailable</span>
                        </button>
                      </div>
                    </div>
                     
                </div>
                <div class="description">
                    <p *ngFor="let detail of product.productDescription">{{detail}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        <h1>test</h1>
        <div class="error-container">
          <div class="error-message">
            <h1>{{ error }}</h1>
          </div>
          <div class="background-animation">
            <img
              class="planet"
              src="https://tsparticles.github.io/404-templates/space/images/planet.svg"
              height="450"
            />
            <img
              class="astronaut"
              src="https://tsparticles.github.io/404-templates/space/images/astronaut.svg"
              height="40"
            />
          </div>
        </div>
      </div>
</div>